<h2>Spielergebnis erfassen</h2>

<div class="players">
    <div>
        <span class="name">{{ $ctrl.match.home.name }}</span>
        <span class="score">{{ $ctrl.match.home.goals }}</span>
        <div class="buttons">
            <button type="button" ng-click="$ctrl.addGoal($ctrl.match.home)" class="add">+</button>
            <button type="button" ng-click="$ctrl.removeGoal($ctrl.match.home)" class="remove">-</button>
        </div>
    </div>

    <div>
        <span class="name">{{ $ctrl.match.away.name }}</span>
        <span class="score">{{ $ctrl.match.away.goals }}</span>
        <div class="buttons">
            <button type="button" ng-click="$ctrl.addGoal($ctrl.match.away)" class="add">+</button>
            <button type="button" ng-click="$ctrl.removeGoal($ctrl.match.away)" class="remove">-</button>
        </div>
    </div>
</div>

<div class="match-nav">
    <a href="#!/tournament/{{$ctrl.tournamentId}}">Turnierübersicht</a>
    <button type="button" ng-click="$ctrl.captureResult()">Ergebnis erfassen</button>
</div>
