<h2>{{$ctrl.tournament.name}}</h2>

<div class="tournaments">
    <div ng-repeat="group in $ctrl.tournament.groups">
        <h3>{{ group.name }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Spieler</th>
                    <th>Punkte</th>
                    <th>TD</th>
                    <th>Tore</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in group.players | orderObjectBy: 'rank'">
                    <td>{{ player.rank }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.points }}</td>
                    <td>{{ player.goalDiff }}</td>
                    <td>{{ player.goals }} : {{ player.goalsAgainst}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Spiele</h3>
        <table>
            <thead>
                <tr>
                    <th>Heim</th>
                    <th>Gast</th>
                    <th>Ergebnis</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in group.matches">
                    <td>{{ match.home.name }}</td>
                    <td>{{ match.away.name }}</td>
                    <td ng-if="!!match.played"
                        ng-class="{ live : match.played == 'live' }"
                    >{{ match.home.goals }} : {{ match.away.goals }}</td>
                    <td ng-if="! match.played">
                        <a
                            href="#!/tournament/{{ $ctrl.tournament.id }}/capture-match/{{ group.id }}/{{ match.id }}"
                            ng-show="$ctrl.currentUser.userInfo.referee"
                        >Spielen!</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="page-actions">
    <a href="#!/tournament/{{ $ctrl.tournament.id }}/edit"
       ng-show="$ctrl.currentUser.userInfo.tournamentAdmin">Turnier bearbeiten</a>
</div>
