<h2>{{$ctrl.tournament.name}}</h2>

<div class="tournaments">
    <div ng-repeat="group in $ctrl.tournament.groups">
        <h3>{{ group.name }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Spieler</th>
                    <th>P</th>
                    <th>TD</th>
                    <th>Tore</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in group.players | orderObjectBy: 'rank'">
                    <td>{{ player.rank }}</td>
                    <td class="player-name">{{ player.name }}</td>
                    <td>{{ player.points }}</td>
                    <td>{{ player.goalDiff }}</td>
                    <td class="result">{{ player.goals }} : {{ player.goalsAgainst}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Spiele</h3>
        <table>
            <thead>
                <tr>
                    <th>Heim</th>
                    <th>Gast</th>
                    <th>Ergebnis</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in group.matches">
                    <td class="player-name">{{ match.home.name }}</td>
                    <td class="player-name">{{ match.away.name }}</td>
                    <td>
                        <span ng-show="match.played" ng-class="{ live : match.played == 'live' }" class="result">
                            {{ match.home.goals }} : {{ match.away.goals }}
                        </span>

                        <a href="#!/tournament/{{ $ctrl.tournament.id }}/ticker/{{ group.id }}/{{ match.id }}"
                            ng-show="match.played && $ctrl.currentUser.showTicker"
                        >Ticker!</a>

                        <a href="#!/tournament/{{ $ctrl.tournament.id }}/capture-match/{{ group.id }}/{{ match.id }}"
                            ng-show="$ctrl.currentUser.referee && ! match.played"
                        >Spielen!</a>

                        <a ng-click="$ctrl.deleteResult(group.id, match.id)"
                           ng-show="match.played && $ctrl.currentUser.tournamentAdmin"
                        >x</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="page-actions">
    <a href="#!/tournament/{{ $ctrl.tournament.id }}/edit"
       ng-show="$ctrl.currentUser.tournamentAdmin">Turnier bearbeiten</a>
</div>
