
$enable-flex: true;

/*@import "../vendor/bootstrap/scss/bootstrap.scss"; */

// Core variables and mixins
@import "variables";
@import "mixins";

// Reset and dependencies
@import "normalize";
@import "forms";

// Core CSS
@import "reboot";
@import "tables";
@import "buttons";
@import "navbar";
@import "nav";
@import "animation";
@import "list-group";

@import "utilities";
@import "utilities-responsive";
@import "utilities-background";


h2 {
    font-size: 20px;
    text-align: center;
}

button {
    @extend .btn;
    @extend .btn-primary;
}

body > div[ng-view] {
    padding: 5px;
}

tournament-login {
    width: 350px;
    margin: auto;

    tournament-login-google {
        max-width: 200px;
        margin-top: 20px;
    }
}

tournament-login-email, tournament-login-create {

    label {
        @extend .input-group;

        input {
            @extend .form-control;
            max-width: 200px;
        }

        span {

            width: 100px;
            @extend .input-group-addon;
        }
    }

    button {
        max-width: 300px;
        @extend .btn-block;
    }

}

tournament-login-google {
    text-align: center;
}


@media (all and max-width: 640px) {
    tournament-header {
        nav {
            ul {
                clear: both;
                li {
                    display: block;
                    float: none;
                    margin-left: 0 !important; /* important to overwrite the li+li selector from bootstrap */
                }
            }
        }
    }
}

tournament-header {
    & > div {
        @extend .navbar;
        @extend .navbar-dark;
        @extend .bg-primary;
        @extend .navbar-full;
    }


    .navbar-toggler {
        @extend .hidden-lg-up;
        float: right;
    }

    h1 {
        @extend .navbar-brand;
        display: inline-block;
        vertical-align: bottom;
        font-size: 1.3em;
    }

    nav {
        @extend .collapse;
        @extend .navbar-toggleable-md;

        ul {
            @extend .nav;
            @extend .navbar-nav;
        }

        li {
            @extend .nav-item;
            a {
                @extend .nav-link;
            }
        }

        tournament-logout {
            display: inline;
            float: right;
        }
    }
}

tournament-selector {
    a.new-tournament {
        @extend .btn;
        @extend .btn-success;

        @include pull-right;

    }

    ul {
        @extend .list-group;
        margin-bottom: 10px;

        li {
            list-style-type: none;
        }

        a {
            display: block;
            @extend .list-group-item;
        }
    }
}

tournament-overview {

    .live {
        color: red;
    }

    .page-actions a {
        @extend .btn-warning;
    }

    div.tournaments {
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        div {
            display: inline-block;

            flex: 0 0 24%;
            padding: 5px;
            border: 1px solid lightgrey;
            border-radius: 10px;
            margin: 10px 5px;
        }
    }

    .player-name, .result {
        white-space: nowrap;
    }

    table {
        @extend .table;
        @extend .table-striped;
        @extend .table-hover;
        margin-bottom: 0;
    }
}

tournament-match-capture {

    .clock {
        text-align: center;
        font-size: 30px;
    }

    div.players {

        text-align: center;
        display: flex;

        & > div {
            flex: 0 0 46%;

            border: 1px solid lightgray;
            border-radius: 10px;
            margin: auto;
            padding: 5px;

            /* player name, score */
            span {
                text-align: center;
                font-size: 16px;
                display: block;
                width: 100%;
            }

            .name {
                white-space: nowrap;
            }

            .buttons {
                text-align: center;

                button {
                    @extend .btn-lg;
                    width: 40%;
                }

                button.add {
                    @extend .btn-success;

                    margin-right: 10px;
                }

                button.remove {
                    @extend .btn-danger;
                }
            }
        }
    }


    .page-actions {
        a {
            @extend .btn-info;
        }

        button {
            @extend .btn-warning;
        }
    }
}

tournament-match-ticker {
    table {
        @extend .table;
        @extend .table-striped;
        @extend .table-hover;
    }

    .timelog {
        white-space: nowrap;
    }
}

.page-actions {

    @extend .nav;
    @extend .navbar;


    padding: 10px;
    text-align: right;

    a, button {
        @extend .btn;
        margin: 10px;
    }
}
